<div class="rol-section mt-5">
  <h2 class="text-center mb-5 fw-bold">🏢 Crear nuevo rol</h2>

  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="card shadow-sm border-0 rounded-4 p-4">
        <div class="card-body">
          <form #createRoleForm="ngForm" (ngSubmit)="onSubmit(createRoleForm)">
            <div class="mb-3">
              <label for="roleName" class="form-label fw-semibold">Nombre del rol</label>
              <input type="text" name="roleName" id="roleName" class="form-control" placeholder="Ej: Antioquia" #name="ngModel" [(ngModel)]="role.name" required>
            </div>

            <div class="d-grid mt-4">
              <input type="submit" value="Crear" class="btn btn-warning btn-lg text-white px-5">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>