<div class="ciudad-section mt-5">
  <h2 class="text-center mb-5 fw-bold">🏙️ Crear nueva ciudad</h2>

  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-sm border-0 rounded-4 p-4">
        <div class="card-body">
          <form #createCityForm="ngForm" (ngSubmit)="onSubmit(createCityForm)">
            <div class="mb-3">
              <label for="cityName" class="form-label fw-semibold">Nombre de la ciudad</label>
              <input type="text" name="cityName" id="cityName" class="form-control" placeholder="Ej: Medellín" #name="ngModel" [(ngModel)]="city.name" required>
            </div>

            <div class="mb-3">
              <label for="departmentsId" class="form-label fw-semibold">Departamento</label>
              <select id="departmentsId" class="form-select">
                <option selected disabled>Seleccione un departamento</option>
                <option>Antioquia</option>
                <option>Atlántico</option>
                <option>Bolívar</option>
                <option>Boyacá</option>
                <option>Caldas</option>
                <option>Caquetá</option>
                <option>Cauca</option>
                <option>Cesar</option>
                <option>Córdoba</option>
                <option>Cundinamarca</option>
                <option>Chocó</option>
                <option>Huila</option>
                <option>La Guajira</option>
                <option>Magdalena</option>
                <option>Meta</option>
                <option>Nariño</option>
                <option>Norte de Santander</option>
                <option>Quindío</option>
                <option>Risaralda</option>
                <option>Santander</option>
                <option>Sucre</option>
                <option>Tolima</option>
                <option>Valle del Cauca</option>
                <option>Arauca</option>
                <option>Casanare</option>
                <option>Putumayo</option>
                <option>San Andrés y Providencia</option>
                <option>Amazonas</option>
                <option>Guainía</option>
                <option>Guaviare</option>
                <option>Vaupés</option>
                <option>Vichada</option>
              </select>
            </div>

            <div class="d-grid mt-4">
              <input type="submit" value="Crear" class="btn btn-warning btn-lg text-white px-5">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>